<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link href="./css/style.css" rel="stylesheet">
    </head>

    <body>
        {{>header}}
        <img class="me" src="/img/me.png">
        {{>footer}}
    </body>
</html>